In [ ]:
import pandas as pd
import numpy as np

In [ ]:
tips=pd.read_csv("tips.csv")

In [ ]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips["total_bill"]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
tips[["total_bill","tip","size"]].mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [ ]:
tips[["total_bill","tip","size"]].median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [ ]:
tips[["total_bill","tip","size"]].var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

In [ ]:
tips[["total_bill","tip","size"]].std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [ ]:
tips[["sex","day"]].mode()

    sex  day
0  Male  Sat

In [ ]:
data_city_AA=pd.read_excel("data.xls",sheet_name="city_AA")
data_data_for_analysis=pd.read_excel("data.xls",sheet_name="data_for_analysis")

In [ ]:
data_city_AA

                   city  Avg_Appre
0                  Kent         10
1               Seattle          9
2              Bellevue          6
3              Issaquah          9
4             Sammamish          5
5             Covington          9
6         Mercer Island          7
7              Kirkland          5
8               Redmond          9
9               Tukwila          8
10               Renton          8
11            Shoreline          1
12               Medina         -4
13          Woodinville          8
14           Snoqualmie          7
15          Federal Way          2
16         Yarrow Point         -1
17              Kenmore          5
18              Bothell          6
19            Newcastle          2
20           Clyde Hill         10
21               Duvall          1
22        Normandy Park          4
23               Auburn          7
24     Lake Forest Park          6
25         Maple Valley          5
26           Des Moines         -1
27               SeaTac          7
28           North Bend          1
29               Burien          3
30   Beaux Arts Village          8
31        Black Diamond          9
32             Enumclaw          1
33  Inglewood-Finn Hill         -5
34      Snoqualmie Pass          1
35               Algona          1
36               Vashon          1
37            Carnation         -1
38              Preston          7
39              Pacific          5
40               Milton          2
41            Fall City          8
42            Skykomish         -5
43           Ravensdale          1

In [ ]:
data_data_for_analysis

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-07-03,2.659000e+07,3,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA
1,2014-06-05,2.560498e+06,3,2.50,1710,1664,2.0,0,0,5,1300,410,2003,0,2826 21st Ave W,Seattle,WA 98199,USA
2,2014-06-23,1.289900e+07,3,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
3,2014-06-04,7.420000e+05,3,3.25,1540,704,3.0,0,0,3,1540,0,2011,0,1820 E Howell St,Seattle,WA 98122,USA
4,2014-06-27,5.165000e+05,1,1.25,1100,638,3.0,0,0,3,1100,0,2014,0,416 19th Ave E,Seattle,WA 98112,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-01,0.000000e+00,2,2.25,2130,4920,1.5,0,4,4,1530,600,1941,1998,3428 60th Ave SW,Seattle,WA 98116,USA
4596,2014-07-02,0.000000e+00,4,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA
4597,2014-07-02,0.000000e+00,3,1.00,1520,9030,1.0,0,0,3,1520,0,1956,2001,2533 155th Pl SE,Bellevue,WA 98007,USA
4598,2014-07-02,0.000000e+00,5,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA
4599,2014-07-08,0.000000e+00,4,2.25,2890,18226,3.0,1,4,3,2890,0,1984,0,3227-3399 Mountain View Ave N,Renton,WA 98056,USA