In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/DataAnalyst.csv")

In [ ]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [ ]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [ ]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [ ]:
df["Job Title"].value_counts()

Job Title
Data Analyst                        405
Senior Data Analyst                  90
Junior Data Analyst                  30
Business Data Analyst                28
Sr. Data Analyst                     21
                                   ...
Data Analyst – Level II               1
Data Analyst/Programmer               1
Data Services Business Analyst 2      1
Call Center Data Analyst              1
Senior Quality Data Analyst           1
Name: count, Length: 1272, dtype: int64

In [ ]:
df[df["Founded"]==1785]["Job Description"]

2150    Posting Number G/R02218P\nWorking Title Studen...
Name: Job Description, dtype: object

In [ ]:
def title_simplifier(title):
    if "business" in title.lower():
        return "Business Data Analys"
    elif "data science" in title.lower() or 'data scientist' in title.lower():
        return "Data Science"
    elif "data warehouse" in title.lower():
        return "Data Warehouse Analyst"
    elif "data engineer" in title.lower():
        return "Data Engineer"
    elif "quality" in title.lower():
        return "Data Quality Analyst"
    elif "reporting" in title.lower():
        return "Reporting Data Analyst"
    elif "security" in title.lower():
        return "Data Security Analyst"
    elif "analyst" in title.lower():
        return "Data Analyst"
    else:
     return np.NaN
def seniority(title):
  if 'sr' in title.lower() or 'senior' in title.lower() or "II" in title.lower() or "2" in title.lower() :
        return 'Senior'
  elif  'lead' in title.lower() or 'principal' in title.lower() or "3" in title.lower():
    return "Lead"
  elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'Junior'
  elif "Entry Level" in title.lower():
      return "Entry Level"
  else:
    return "Unknown / Non-Applicable"

In [ ]:
df["Job_Title"]=df["Job Title"].apply(title_simplifier)

In [ ]:
df["Seniority level"]=df["Job Title"].apply(seniority)

In [ ]:
df.drop(columns=["Job Title"],inplace=True)

In [ ]:
import re

In [ ]:
df

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level
0,$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst,Unknown / Non-Applicable
1,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst,Unknown / Non-Applicable
2,$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst,Senior
3,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst,Unknown / Non-Applicable
4,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst,Senior
2249,$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst,Senior
2250,$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analys,Unknown / Non-Applicable
2251,$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst,Lead
2252,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst,Senior

In [ ]:
df["Seniority level"].value_counts()

Seniority level
Unknown / Non-Applicable    1661
Senior                       448
Lead                          73
Junior                        71
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Salary Estimate    2253 non-null   object
 1   Job Description    2253 non-null   object
 2   Rating             2253 non-null   float64
 3   Company Name       2252 non-null   object
 4   Location           2253 non-null   object
 5   Headquarters       2253 non-null   object
 6   Size               2253 non-null   object
 7   Founded            2253 non-null   int64
 8   Type of ownership  2253 non-null   object
 9   Industry           2253 non-null   object
 10  Sector             2253 non-null   object
 11  Revenue            2253 non-null   object
 12  Competitors        2253 non-null   object
 13  Easy Apply         2253 non-null   object
 14  Job_Title          2253 non-null   object
 15  Seniority level    2253 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 281.8+ KB

In [ ]:
import re

In [ ]:
# re.findall("\d+","$37K-$66K (Glassdoor est.)")

In [ ]:
df["Salary Estimate"].value_counts()

Salary Estimate
$42K-$76K (Glassdoor est.)    57
$41K-$78K (Glassdoor est.)    57
$50K-$86K (Glassdoor est.)    41
$35K-$67K (Glassdoor est.)    33
$43K-$76K (Glassdoor est.)    31
                              ..
$43K-$77K (Glassdoor est.)     3
$36K-$67K (Glassdoor est.)     3
$47K-$81K (Glassdoor est.)     3
$57K-$70K (Glassdoor est.)     2
-1                             1
Name: count, Length: 90, dtype: int64

In [ ]:
def get_salary(salary):
  salary_list=re.findall("\d+",salary)
  if len(salary_list) == 2:
    min=int(salary_list[0])*1000
    max=int(salary_list[1])*1000
    avg=(min+max)/2
    return pd.Series([min,max,avg])
  return pd.Series([None,None,None])

In [ ]:
df[["Min Salary","Max Salary","Avg Salary"]]=df["Salary Estimate"].apply(get_salary)

In [ ]:
df.drop(columns=["Salary Estimate"],inplace=True)

In [ ]:
df

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
2,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst,Senior,37000.0,66000.0,51500.0
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst,Senior,78000.0,104000.0,91000.0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst,Senior,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analys,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst,Lead,78000.0,104000.0,91000.0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst,Senior,78000.0,104000.0,91000.0

In [ ]:
df

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
2,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst,Senior,37000.0,66000.0,51500.0
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst,Senior,78000.0,104000.0,91000.0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst,Senior,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analys,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst,Lead,78000.0,104000.0,91000.0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst,Senior,78000.0,104000.0,91000.0

In [ ]:
df["Rating"].value_counts()

Rating
-1.0    272
 3.9    140
 3.6    135
 3.7    132
 5.0    131
 3.8    130
 4.0    129
 3.5    125
 4.1    119
 3.3    109
 3.4    101
 3.2     91
 3.1     68
 3.0     57
 4.3     55
 4.2     47
 4.5     47
 4.6     46
 4.4     46
 2.8     43
 2.9     40
 2.5     32
 4.8     29
 2.7     25
 4.7     23
 4.9     17
 2.6     14
 1.0     10
 2.4     10
 2.3      9
 2.0      6
 2.1      4
 2.2      3
 1.7      2
 1.8      2
 1.6      2
 1.9      2
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
Job_Title            0
Seniority level      0
Min Salary           1
Max Salary           1
Avg Salary           1
dtype: int64

In [ ]:
df.replace({-1,-1.0,"-1","-1.0"},np.NaN,inplace=True)

In [ ]:
df.isnull().sum()

Job Description         0
Rating                272
Company Name            1
Location                0
Headquarters          172
Size                  163
Founded               660
Type of ownership     163
Industry              353
Sector                353
Revenue               163
Competitors          1732
Easy Apply           2173
Job_Title               0
Seniority level         0
Min Salary              1
Max Salary              1
Avg Salary              1
dtype: int64

In [ ]:
len(df.dropna().index)

28

In [ ]:
df

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,NaN,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
2,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,NaN,Data Analyst,Senior,37000.0,66000.0,51500.0
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,NaN,Data Security Analyst,Senior,78000.0,104000.0,91000.0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",NaN,Data Analyst,Senior,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",NaN,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Data Analys,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,NaN,Data Analyst,Lead,78000.0,104000.0,91000.0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",NaN,Data Quality Analyst,Senior,78000.0,104000.0,91000.0

In [ ]:
df[df["Rating"].isnull()][["Rating","Company Name"]]

      Rating                                 Company Name
11       NaN                                     BulbHead
21       NaN                        MUSIC & Entertainment
34       NaN                                     Carry1st
36       NaN                                 Clear Street
40       NaN                                        Pinto
...      ...                                          ...
2200     NaN    TechAspect Solutions, Inc. dba TA Digital
2202     NaN  Black Knight Financial Technology Solutions
2239     NaN                                  Amyx, Iinc.
2246     NaN                                     Spiceorb
2250     NaN                                     Spiceorb

[272 rows x 2 columns]

In [ ]:
df["Rating"].value_counts()

Rating
3.9    140
3.6    135
3.7    132
5.0    131
3.8    130
4.0    129
3.5    125
4.1    119
3.3    109
3.4    101
3.2     91
3.1     68
3.0     57
4.3     55
4.5     47
4.2     47
4.6     46
4.4     46
2.8     43
2.9     40
2.5     32
4.8     29
2.7     25
4.7     23
4.9     17
2.6     14
2.4     10
1.0     10
2.3      9
2.0      6
2.1      4
2.2      3
1.7      2
1.8      2
1.6      2
1.9      2
Name: count, dtype: int64

In [ ]:
df["Rating"].fillna(0,inplace=True)

<ipython-input-32-40ad4b19a9ff>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(0,inplace=True)

In [ ]:
df["Rating"].value_counts()

Rating
0.0    272
3.9    140
3.6    135
3.7    132
5.0    131
3.8    130
4.0    129
3.5    125
4.1    119
3.3    109
3.4    101
3.2     91
3.1     68
3.0     57
4.3     55
4.2     47
4.5     47
4.6     46
4.4     46
2.8     43
2.9     40
2.5     32
4.8     29
2.7     25
4.7     23
4.9     17
2.6     14
1.0     10
2.4     10
2.3      9
2.0      6
2.1      4
2.2      3
1.7      2
1.8      2
1.6      2
1.9      2
Name: count, dtype: int64

In [ ]:
df.dropna(subset=["Company Name"],inplace=True)

In [ ]:
df.isnull().sum()

Job Description         0
Rating                  0
Company Name            0
Location                0
Headquarters          171
Size                  162
Founded               659
Type of ownership     162
Industry              352
Sector                352
Revenue               162
Competitors          1731
Easy Apply           2172
Job_Title               0
Seniority level         0
Min Salary              1
Max Salary              1
Avg Salary              1
dtype: int64

In [ ]:
df[df["Headquarters"].isnull()]

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary
11,BulbHead is currently seeking a Data Analyst t...,0.0,BulbHead,"Fairfield, NJ",NaN,1 to 50 employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable,NaN,NaN,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
34,Carry1st is the leading mobile game publisher ...,0.0,Carry1st,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,Unknown / Non-Applicable,46000.0,87000.0,66500.0
55,OverviewThe Data Analyst is a new position in ...,0.0,NADAP NYS INC.,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reporting Data Analyst,Unknown / Non-Applicable,46000.0,87000.0,66500.0
68,Job Details\n\nLevel\n\nExperienced\n\nJob Loc...,0.0,Greater New York Mutual Insurance Companies (GNY),"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Science,Unknown / Non-Applicable,51000.0,88000.0,69500.0
90,NYU Grossman School of Medicine is one of the ...,0.0,NYU Langone Medical Center,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,Unknown / Non-Applicable,51000.0,87000.0,69000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,Role Data Analyst Duration12+ months Location ...,0.0,"TechAspect Solutions, Inc. dba TA Digital","Centennial, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,Unknown / Non-Applicable,49000.0,91000.0,70000.0
2202,Position:Financial Data AnalystJob Description...,0.0,Black Knight Financial Technology Solutions,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,Unknown / Non-Applicable,49000.0,91000.0,70000.0
2239,OverviewAmyx is seeking to hire a Senior Contr...,0.0,"Amyx, Iinc.","Aurora, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,Senior,78000.0,104000.0,91000.0
2246,Spiceorb is looking for Technical Business Ana...,0.0,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Data Analys,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",0.0,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Data Analys,Unknown / Non-Applicable,78000.0,104000.0,91000.0

In [ ]:
df[["Headquarters","Location"]]

          Headquarters        Location
0         New York, NY    New York, NY
1         New York, NY    New York, NY
2         New York, NY    New York, NY
3           McLean, VA    New York, NY
4         New York, NY    New York, NY
...                ...             ...
2248    Alpharetta, GA      Denver, CO
2249    Centennial, CO  Centennial, CO
2250               NaN      Denver, CO
2251  West Chester, OH  Centennial, CO
2252    Broomfield, CO  Broomfield, CO

[2252 rows x 2 columns]

In [ ]:
df["Headquarters"].fillna("Unknown",inplace=True)

<ipython-input-38-241c694c6ffa>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Headquarters"].fillna("Unknown",inplace=True)

In [ ]:
df["Easy Apply"].fillna(False,inplace=True)

<ipython-input-39-f4ceee351755>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Easy Apply"].fillna(False,inplace=True)

In [ ]:
df.isnull().sum()

Job Description         0
Rating                  0
Company Name            0
Location                0
Headquarters            0
Size                  162
Founded               659
Type of ownership     162
Industry              352
Sector                352
Revenue               162
Competitors          1731
Easy Apply              0
Job_Title               0
Seniority level         0
Min Salary              1
Max Salary              1
Avg Salary              1
dtype: int64

In [ ]:
df["Competitors"].value_counts()

Competitors
Adecco, Manpower                                                   14
Robert Half, Insight Global                                        14
Artech Information Systems, Mindlance, Tech Mahindra               10
Google, Microsoft, Samsung Electronics                             10
TEKsystems, Insight Global, Accenture                              10
                                                                   ..
Transnational Foods, One Source Distributors                        1
GE                                                                  1
Fiserv, First Data, Jack Henry & Associates                         1
Booz Allen Hamilton, Abt Associates, Oliver Wyman                   1
Centura Health, HealthONE, Denver Health and Hospital Authority     1
Name: count, Length: 290, dtype: int64

In [ ]:
def numbercompetitors(x):
  if isinstance(x,str):
    return len(x.split(","))
  else:
    return 0
df["Number Of Competitors"]=df["Competitors"].apply(numbercompetitors)

In [ ]:
# df.drop(columns=["Competitors"],inplace=True)

In [ ]:
df[df["Number Of Competitors"]==4]

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary,Number Of Competitors
2087,YOUR ROLE\nThe Quality Analyst will be respons...,3.5,Kuehne + Nagel\n3.5,"Whitestown, IN","Feusisberg, Switzerland",10000+ employees,1890.0,Company - Private,Logistics & Supply Chain,Transportation & Logistics,$10+ billion (USD),"DHL Global Forwarding, Freight, DB Schenker, P...",False,Data Quality Analyst,Unknown / Non-Applicable,34000.0,61000.0,47500.0,4

In [ ]:
df[df["Rating"]==df["Rating"].max()]

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary,Number Of Competitors
26,We are building Duolingo's newly formed FP&A /...,5.0,Duolingo\n5.0,"New York, NY","Pittsburgh, PA",201 to 500 employees,2011.0,Company - Private,Internet,Information Technology,$10 to $25 million (USD),NaN,False,Business Data Analys,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0
42,"Whip Media Group's products, including Mediamo...",5.0,Whip Media Group\n5.0,"New York, NY","Santa Monica, CA",51 to 200 employees,2016.0,Company - Private,NaN,NaN,Unknown / Non-Applicable,NaN,False,Data Analyst,Unknown / Non-Applicable,46000.0,87000.0,66500.0,0
78,Job Description\nMulberry is disrupting a $40B...,5.0,Mulberry Technology\n5.0,"New York, NY","New York, NY (US), NY",1 to 50 employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable,NaN,False,Data Analyst,Unknown / Non-Applicable,51000.0,88000.0,69500.0,0
81,"Los Angeles, CA | New York, NY\n\nEmail career...",5.0,"EDO, Inc.\n5.0","New York, NY","Los Angeles, CA",1 to 50 employees,NaN,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,NaN,False,Data Analyst,Unknown / Non-Applicable,51000.0,88000.0,69500.0,0
106,60 months experience in SQL/SQL TOAD;\n60 mont...,5.0,Crossfire Consulting Corporation\n5.0,"New York, NY","Yorktown Heights, NY",51 to 200 employees,NaN,Company - Private,Consulting,Business Services,$5 to $10 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,51000.0,87000.0,69000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,"Gloo, headquartered in beautiful Boulder, Colo...",5.0,Goldstone Partners\n5.0,"Boulder, CO","Denver, CO",1 to 50 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Less than $1 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,49000.0,91000.0,70000.0,0
2207,"We are looking for data analysts, data wrangle...",5.0,xentity corporation\n5.0,"Denver, CO","Lakewood, CO",51 to 200 employees,2001.0,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,49000.0,91000.0,70000.0,0
2220,MDG Functional Data Analyst\nLocation: Greenwo...,5.0,Georgia IT Inc.\n5.0,"Greenwood Village, Arapahoe, CO","Alpharetta, GA",1 to 50 employees,NaN,Company - Private,NaN,NaN,Less than $1 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,57000.0,100000.0,78500.0,0
2221,Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Denver, CO","Woodridge, IL",51 to 200 employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Junior,57000.0,100000.0,78500.0,0
2226,Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Denver, CO","Woodridge, IL",51 to 200 employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Junior,57000.0,100000.0,78500.0,0

In [ ]:
df.groupby("Founded").agg({"Avg Salary":"sum"}).sort_values(by="Avg Salary",ascending=False).head(11)

         Avg Salary
Founded
2008.0    5206500.0
2002.0    4288500.0
2000.0    4067000.0
1996.0    3935500.0
1999.0    3735000.0
2004.0    3591500.0
1998.0    3360000.0
1997.0    3358000.0
2011.0    3343500.0
2013.0    2756500.0
2012.0    2620000.0

In [ ]:
df.groupby("Founded").agg({"Avg Salary":"sum"}).sort_values(by="Avg Salary",ascending=True).head(11)

         Avg Salary
Founded
1865.0      36000.0
1850.0      36500.0
1856.0      39500.0
1853.0      42000.0
1785.0      44000.0
1875.0      47500.0
1917.0      51000.0
1958.0      51500.0
1893.0      51500.0
1905.0      52500.0
1931.0      53500.0

In [ ]:
df[df["Founded"]==1785]

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary,Number Of Competitors
2150,Posting Number G/R02218P\nWorking Title Studen...,4.2,University of Georgia\n4.2,"Athens, GA","Athens, GA",10000+ employees,1785.0,College / University,Colleges & Universities,Education,$2 to $5 billion (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,32000.0,56000.0,44000.0,0

In [ ]:
add=lambda x:x+5
add(x=10)

15

In [ ]:
df["Python_yn"]=df["Job Description"].apply(lambda x:1 if "python" in x.lower() else 0)

In [ ]:
df

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job_Title,Seniority level,Min Salary,Max Salary,Avg Salary,Number Of Competitors,Python_yn
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,1
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,False,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,0
2,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False,Data Analyst,Senior,37000.0,66000.0,51500.0,1,1
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,False,Data Security Analyst,Senior,78000.0,104000.0,91000.0,0,0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",False,Data Analyst,Senior,78000.0,104000.0,91000.0,3,0
2250,"Title: Technical Business Analyst (SQL, Data a...",0.0,Spiceorb,"Denver, CO",Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Business Data Analys,Unknown / Non-Applicable,78000.0,104000.0,91000.0,0,0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,False,Data Analyst,Lead,78000.0,104000.0,91000.0,0,1
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",False,Data Quality Analyst,Senior,78000.0,104000.0,91000.0,3,0

In [ ]:
df['Python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['SQL_yn'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df['Tableau_yn'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df['PowerBI_yn'] = df['Job Description'].apply(lambda x: 1 if 'power bi' in x.lower() else 0)
df['Excel_yn'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [ ]:
df

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,Seniority level,Min Salary,Max Salary,Avg Salary,Number Of Competitors,Python_yn,SQL_yn,Tableau_yn,PowerBI_yn,Excel_yn
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,...,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,1,1,0,0,0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,...,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,0,1,0,0,1
2,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,...,Senior,37000.0,66000.0,51500.0,1,1,1,1,0,1
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,...,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,0,1,1,0,0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",...,Unknown / Non-Applicable,37000.0,66000.0,51500.0,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,...,Senior,78000.0,104000.0,91000.0,0,0,0,0,0,0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,...,Senior,78000.0,104000.0,91000.0,3,0,1,1,0,0
2250,"Title: Technical Business Analyst (SQL, Data a...",0.0,Spiceorb,"Denver, CO",Unknown,NaN,NaN,NaN,NaN,NaN,...,Unknown / Non-Applicable,78000.0,104000.0,91000.0,0,0,1,0,0,1
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,...,Lead,78000.0,104000.0,91000.0,0,1,1,0,0,0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,...,Senior,78000.0,104000.0,91000.0,3,0,0,1,0,1

In [ ]:
df["PowerBI_yn"].value_counts()

PowerBI_yn
0    2072
1     180
Name: count, dtype: int64

In [ ]:
df["Tableau_yn"].value_counts()

Tableau_yn
0    1632
1     620
Name: count, dtype: int64

In [ ]:
df.groupby("PowerBI_yn").agg({"Founded":["min","max"]})

           Founded
               min     max
PowerBI_yn
0           1682.0  2019.0
1           1740.0  2018.0

In [ ]:
df.groupby("Tableau_yn").agg({"Founded":["min","max"]})

           Founded
               min     max
Tableau_yn
0           1698.0  2019.0
1           1682.0  2019.0